<div class="fonde-modal-imagen oculto fadeIn fast" [class.oculto]="modalImagenService.ocultarModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
                <button t
                  ype="button" 
                  class="close" 
                  data-dismiss="modal" 
                  aria-label="Close"
                  (click)="cerrarModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
              <h3>Seleccione una imagen</h3>
              <div class="text-center m-t-15 m-b-15">
                <img *ngIf="!imgTemp" class="img-avatar" [src]="modalImagenService.img">
                <img *ngIf="imgTemp" class="img-avatar" [src]="imgTemp">
              </div>
              <input type="file" name="" id="" (change)="cambiarImagen($event)">
            </div>
            <div class="modal-footer">
                <button 
                  type="button" 
                  class="btn btn-default" 
                  data-dismiss="modal"
                  (click)="cerrarModal()"
                  >
                    Cancelar
                </button>
                <button 
                  type="button" 
                  class="btn btn-primary"
                  (click)="subirImagen()">
                    Actualizar foto
                </button>
            </div>
        </div>
    </div>
  </div>
</div>
